<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhiDeidPortal.Ui</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhiDeidPortal.Ui.styles.css" asp-append-version="true" />
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/moment-timezone.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="row navbar-container">
                <div class="col">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">PHI DeID Portal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col">
                    <div class="right" id="identityLabel">@User.Identity.Name</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div>
                <button type="button" class="btn btn-primary upload-button" data-bs-toggle="modal" data-bs-target="#uploadDialog">
                    <i class="bi bi-upload"></i>
                    <span>Upload document</span>
                </button>
            </div>
            <div class="tab-bar row">
                <div class="tab col" data-href="index">
                    <div class="unhighlight">
                        <div>
                            <div>All My Documents</div>
                            <h2>@Model.TotalCount</h2>
                        </div>
                    </div>
                </div>
                <div class="tab col" data-href="unprocessed">
                    <div class="unhighlight">
                        <div>
                            <div><i class="bi bi-filter"></i>Awaiting Processing</div>
                            <h2>@Model.UnprocessedCount</h2>
                        </div>
                    </div>
                </div>
                <div class="tab col" data-href="justification">
                    <div class="highlight">
                        <div>
                            <div><i class="bi bi-filter"></i>Needs PHI Justification</div>
                            <h2>@Model.JustificationCount</h2>
                        </div>
                    </div>
                </div>
                <div class="tab col" data-href="review">
                    <div class="unhighlight">
                        <div>
                            <div><i class="bi bi-filter"></i>Awaiting Manual Review</div>
                            <h2>@Model.ReviewCount</h2>
                        </div>
                    </div>
                </div>
                <div class="tab col" data-href="completed">
                    <div class="unhighlight">
                        <div>
                            <div><i class="bi bi-filter"></i>Approved</div>
                            <h2>@Model.ApprovedCount</h2>
                        </div>
                    </div>
                </div>
                <div class="tab col" style="border-right:none;" data-href="denied">
                    <div class="unhighlight">
                        <div>
                            <div><i class="bi bi-filter"></i>Denied</div>
                            <h2>@Model.DeniedCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row search-row">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="(Optional) Enter search terms. Use * to prefix match. Use + to match multiple terms." />
                        @if (Model.IsAuthorized) {<button class="btn btn-secondary viewall-button" type="button" data-viewall="all" aria-label="View just my items"><i class="bi bi-eye"></i></button>}
                        <button class="btn btn-primary search-button" type="button"><i class="bi bi-search"></i> Search</button>
                    </div>



                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <!-- Upload modal -->
    <div class="modal fade" id="uploadDialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("Upload", new UploadModel())
                </div>
            </div>
        </div>
    </div>

    <!-- PII modal -->
    <div class="modal fade" id="piiDialog" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PII Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="piiEntitiesContent" name="piiEntities" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- AJAX loader -->
    <div class="loading">
        <div class="loading-background"></div>
        <div class="loading-indicator">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Toast notification -->
    <div class="toast-container position-fixed p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container position-absolute p-3">
        <div id="toast" class="toast align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
            <div class="d-flex">
                <div class="toast-body">
                    Toast body
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PHI DeID Portal
        </div>
    </footer>

</body>
</html>