@page
@model UnprocessedModel
@{
    ViewData["Title"] = "Unprocessed Documents";
    int i = 0;
}

<table id="tblDocs" class="table">
    <thead>
        <tr>
            <th nowrap>Document</th>
            <th>Author</th>
            <th>Last Indexed</th>
            <th nowrap>Metadata</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.CosmosResults.Where(x => x.Status == 1))
        {
            <tr class="@(i % 2 == 0 ? "row-even" : "row-odd")">
                <td style="vertical-align: top;">@result.FileName</td>
                <td style="vertical-align: top;">@result.Author.ToString().Split('@')[0]</td>
                <td style="vertical-align: top;">
                    @{
                        var lastIndexedString = (result.LastIndexed is not null) ? result.LastIndexed : DateTime.MinValue;
                        DateTime.TryParse(lastIndexedString.ToString(), out DateTime lastIndexed);
                        if (lastIndexed == DateTime.MinValue) { <span><i>unindexed</i></span> }
                        else { <span>@lastIndexed</span> }
                    }
                </td>
                <td style="vertical-align: top;">
                    @foreach (var tag in result.OrganizationalMetadata)
                    {
                        if (String.IsNullOrWhiteSpace(tag.ToString())) { @Html.Raw($"<div class='tagCloudElemPlaceholder'>&nbsp;<span></span></div>") }
                        else { @Html.Raw($"<div class='tagCloudElem'><span>{tag}</span></div>") }
                    }
                </td>
            </tr>

            i++;
        }
    </tbody>
</table>
